---
export interface Props {
	title: string;
	name: string;
	primarycolor: string;
}

const { title, name, primarycolor } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Primary Meta Tags -->
		<meta name="title" content={title} />
		<meta
			name="description"
			content="An easy to use, customizable, and open source rainmeter plugin for applying Material You colors to widgets."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://meterialyou.vercel.app/" />
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content="An easy to use, customizable, and open source rainmeter plugin for applying Material You colors to widgets."
		/>

		<!-- Twitter -->
		<meta property="twitter:url" content="http://meterialyou.vercel.app/" />
		<meta property="twitter:title" content={title} />
		<meta
			property="twitter:description"
			content="An easy to use, customizable, and open source rainmeter plugin for applying Material You colors to widgets."
		/>

		<!-- Colors -->
		<meta name="theme-color" content={primarycolor} />
	</head>
	<body>
		<div class="topbar">
			<span class="title">Meterial You</span>
		</div>
		<div class="navrail">
			<div class="item active">
				<a href="/">
					<div class={`item ${name == "index" ? "active" : null}`}>
						<div class="icon">
							<svg
								width="18"
								height="20"
								viewBox="0 0 18 20"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M0 20V6.66667L8.88889 0L17.7778 6.66667V20H11.1111V12.2222H6.66667V20H0Z"
									fill="black"></path>
							</svg>
						</div>
						<span class="label">Home</span>
					</div>
				</a>
				<a href="/usage">
					<div class={`item ${name == "usage" ? "active" : null}`}>
						<div class="icon">
							<svg
								width="16"
								height="20"
								viewBox="0 0 16 20"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M1.5 20C1.1 20 0.75 19.85 0.45 19.55C0.15 19.25 0 18.9 0 18.5V1.5C0 1.1 0.15 0.75 0.45 0.45C0.75 0.15 1.1 0 1.5 0H14.5C14.9 0 15.25 0.15 15.55 0.45C15.85 0.75 16 1.1 16 1.5V18.5C16 18.9 15.85 19.25 15.55 19.55C15.25 19.85 14.9 20 14.5 20H1.5ZM8.15 8.15L10.575 6.75L13 8.15V1.5H8.15V8.15Z"
									fill="black"></path>
							</svg>
						</div>
						<span class="label">Usage</span>
					</div>
				</a>
				<a href="https://github.com/Reallukeisbest/meterial-you">
					<div class="item">
						<div class="icon">
							<svg
								width="20"
								height="20"
								viewBox="0 0 20 20"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M10.0083 0C4.47396 0 0 4.58331 0 10.2535C0 14.786 2.86662 18.6226 6.84338 19.9805C7.34058 20.0826 7.5227 19.7599 7.5227 19.4885C7.5227 19.2508 7.50631 18.436 7.50631 17.587C4.72225 18.1983 4.14249 16.3647 4.14249 16.3647C3.69508 15.1764 3.03215 14.871 3.03215 14.871C2.12092 14.2429 3.09852 14.2429 3.09852 14.2429C4.1093 14.3108 4.63969 15.2954 4.63969 15.2954C5.53432 16.857 6.97592 16.4158 7.55588 16.1441C7.63865 15.482 7.90394 15.0237 8.18563 14.7691C5.96514 14.5314 3.62891 13.6487 3.62891 9.71017C3.62891 8.58976 4.02634 7.67309 4.65608 6.96018C4.55672 6.7056 4.20866 5.65289 4.75564 4.24394C4.75564 4.24394 5.60069 3.97228 7.5061 5.29644C8.32188 5.07199 9.16317 4.95782 10.0083 4.95685C10.8533 4.95685 11.7148 5.07581 12.5102 5.29644C14.4159 3.97228 15.2609 4.24394 15.2609 4.24394C15.8079 5.65289 15.4596 6.7056 15.3603 6.96018C16.0066 7.67309 16.3876 8.58976 16.3876 9.71017C16.3876 13.6487 14.0514 14.5143 11.8143 14.7691C12.179 15.0916 12.4936 15.7026 12.4936 16.6703C12.4936 18.0453 12.4773 19.1489 12.4773 19.4883C12.4773 19.7599 12.6596 20.0826 13.1566 19.9808C17.1333 18.6224 20 14.786 20 10.2535C20.0163 4.58331 15.526 0 10.0083 0Z"
									fill="#24292F"></path>
							</svg>
						</div>
						<span class="label">Github</span>
					</div>
				</a>
			</div>
		</div>
		<div class="content">
			<slot />
		</div>
		<div class="bottombar">
			<span class="title"
				>Created by: <a href="http://realluke.vercel.app/">Realluke</a>
			</span>
		</div>
	</body>
</html>
<style is:global lang="scss">
	@font-face {
		font-family: "Open Sans";
		src: url("/opensans.ttf");
	}

	html,
	body {
		font-family: "Open Sans", system-ui, sans-serif;
		background-color: var(--md-sys-color-background);
		padding: 0;
		margin: 0;
	}

	.topbar {
		width: calc(100% - 48px);
		height: 64px;
		top: 0;
		position: sticky;
		left: 0;
		background: var(--md-sys-color-surface);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: flex-start;
		align-items: center;
		margin-left: 48px;
		z-index: 999;
		& .title {
			color: var(--md-sys-color-on-surface);
			font-family: var(--md-sys-typescale-title-large-font-family-name);
			font-style: var(--md-sys-typescale-title-large-font-family-style);
			font-weight: var(--md-sys-typescale-title-large-font-weight);
			font-size: var(--md-sys-typescale-title-large-font-size);
			letter-spacing: var(--md-sys-typescale-title-large-tracking);
			line-height: var(--md-sys-typescale-title-large-height);
			text-transform: var(--md-sys-typescale-title-large-text-transform);
			text-decoration: var(
				--md-sys-typescale-title-large-text-decoration
			);
		}
	}
	.bottombar {
		@extend .topbar;
		position: relative;
		background: var(--md-sys-color-surface);
		& a[href] {
			color: var(--md-sys-color-primary);
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
			&:active {
				color: var(--md-sys-color-primary-variant);
			}
		}
	}
	.navrail {
		width: 80px;
		height: 100%;
		margin-top: 20px;
		position: fixed;
		left: 0;
		top: 64px;
		z-index: 999;
		background: var(--md-sys-color-surface);
		& a {
			text-decoration: none;
			text-align: center;
			& .item {
				margin-top: 12px;
				margin-bottom: 12px;
				height: 56px;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				align-content: center;
				justify-content: center;
				align-items: center;
				& .icon {
					height: 32px;
					width: 56px;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-content: center;
					justify-content: center;
					align-items: center;
					position: relative;
					border-radius: 16px;
					&::after {
						content: " ";
						width: 100%;
						height: 100%;
						position: absolute;
						border-radius: 16px;
						z-index: -1;
						animation-name: open;
						animation-duration: 200ms;
						transition-property: transform;
						transition-timing-function: linear;
						transform: scaleX(1);
						@keyframes open {
							from {
								transform: scaleX(0);
							}
							to {
								transform: scaleX(1);
							}
						}
					}
					& path {
						fill: var(--md-sys-color-on-surface-variant);
					}
				}
				& .label {
					margin-top: 7px;
					color: var(--md-sys-color-on-surface-variant);
					font-family: var(
						--md-sys-typescale-label-medium-font-family-name
					);
					font-style: var(
						--md-sys-typescale-label-medium-font-family-style
					);
					font-weight: var(
						--md-sys-typescale-label-medium-font-weight
					);
					font-size: var(--md-sys-typescale-label-medium-font-size);
					letter-spacing: var(
						--md-sys-typescale-label-medium-tracking
					);
					line-height: var(--md-sys-typescale-label-medium-height);
					text-transform: var(
						--md-sys-typescale-label-medium-text-transform
					);
					text-decoration: var(
						--md-sys-typescale-label-medium-text-decoration
					);
				}
				&.active {
					& .icon {
						& path {
							fill: var(--md-sys-color-on-secondary-container);
						}
						&::after {
							background: var(--md-sys-color-secondary-container);
						}
					}
					& .label {
						color: var(--md-sys-color-on-surface);
					}
				}
			}
			&:focus {
				outline: none;
			}
			&:hover .item {
				& .icon::after {
					background: var(--md-sys-color-on-surface);
					opacity: 0.08;
				}
				&.active {
					& .icon::after {
						background: var(--md-sys-color-on-surface-variant);
						opacity: 0.08;
					}
				}
			}
			&:focus .item {
				& .icon::after {
					background: var(--md-sys-color-on-surface);
					opacity: 0.12;
				}
				&.active {
					& .icon::after {
						background: var(--md-sys-color-on-surface-variant);
						opacity: 0.12;
					}
				}
			}
			&:active .item {
				& .icon::after {
					background: var(--md-sys-color-on-surface);
					opacity: 0.12;
				}
				&.active {
					& .icon::after {
						background: var(--md-sys-color-on-surface-variant);
						opacity: 0.12;
					}
				}
			}
		}
	}
	.content {
		width: calc(100% - 80px);
		margin-left: 80px;
		animation-name: OpenTransition;
		animation-duration: 400ms;
		transition-property: transform, opacity;
		transition-timing-function: linear;
		@keyframes OpenTransition {
			from {
				transform: translateY(30px);
				opacity: 0;
			}
			to {
				transform: scaleX(1);
			}
		}
	}
</style>
